.speedometers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.speedometer {
    margin: 5px auto; /* Adjusted margin for better spacing */
    width: 90%;       /* Responsive width */
    max-width: 600px; /* Max width to prevent it from being too large */
    height: auto;     /* Responsive height */
    background-color: #1f4068;
    border-radius: 10px;
    padding: 20px;
}

@media (min-width: 768px) {
    .speedometer {
        width: 30%;  /* Width for larger screens */
    }
}

.dashboard {
    padding: 20px;
    text-align: center;
}

.dashboard label, .shift-timings label {
    color: #e5e5e5;
}

#date-picker {
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #282c34;
    color: #e5e5e5;
}

.shift-timings {
    margin-bottom: 20px;
    text-align: center;
}

.shift-timings input[type="time"],
.shift-timings input[type="text"] {
    background-color: #282c34;
    color: #e5e5e5;
    border: 1px solid #ccc;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    display: block;
    margin: auto;
}

.dashboard-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.tables {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #162447;
    color: #e5e5e5;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.data-table th, .data-table td {
    border: 1px solid #1f4068;
    padding: 8px;
    text-align: left;
}

.data-table th {
    background-color: #1f4068;
    font-weight: bold;
}

.number-cell {
    font-size: 1.5em;
}

@media (max-width: 1200px) {
    .number-cell {
        font-size: 1.3em;
    }
}

@media (max-width: 900px) {
    .number-cell {
        font-size: 1.1em;
    }
}

@media (max-width: 600px) {
    #date-picker {
        width: 100%;
    }

    .data-table th, .data-table td {
        padding: 6px;
    }

    .number-cell {
        font-size: 1.3em;
    }

    .dashboard-content {
        display: block;
    }

    .tables {
        order: 1;
    }

    .shift-summary {
        order: 2;
    }
}
